.card {
  font-family: "poppins";
  width: 54.2rem;
  height: 27.6rem;
  background: #f8f9fd;
  border-radius: 20px;
}

.card > div {
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 59px;
}

.card p:nth-child(2) {
  font-weight: 600;
  font-size: 24px;
  line-height: 50px;
  letter-spacing: -3%;
}
.card p:nth-child(3) {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  /* width: 47.1rem; */
  /* height: 5rem; */
}
